@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
html {
  scroll-behavior: smooth;
}

* {
  font-family: "Montserrat", sans-serif;
}
:root {
  --primary-text-color: #2e2e2e;
  --description-color: #676767;
  --primary-ancor-hover: #2f8ff7;

  --primary-button-color: #007bff;
}

.navbar-custom-top {
  color: var(--primary-text-color, #2e2e2e) !important;
}

.navbar-custom-top .phone-number {
  letter-spacing: 0.1em;
}

.navbar-custom-top .navbar-nav a {
  color: var(--primary-text-color, #2e2e2e) !important;
}
.navbar-custom-top .navbar-nav a:hover {
  color: var(--primary-ancor-hover, #2e2e2e) !important;
}

.navbar-custom-main .navbar-nav .nav-link {
  color: var(--primary-text-color, #2e2e2e) !important;
  margin-right: 10px;
}

.navbar-custom-main .navbar-nav .nav-link:hover {
  color: var(--primary-ancor-hover, #2e2e2e) !important;
  margin-right: 10px;
}

.navbar-custom-main .nav-item .search-form {
  display: none;
}
.navbar-custom-main .nav-item.active .search-form {
  display: block;
}

.modalButton {
  background-color: var(--primary-button-color, #2e2e2e) !important;
}

/* slider part */
.left-content-slider .quote-text {
  color: var(--primary-text-color, #2e2e2e) !important;
}

.left-content-slider p {
  color: var(--primary-button-color, #007bff);
  letter-spacing: 0.1em;
}

.left-content-slider p a {
  text-decoration: none !important;
}

.right-content-slider img {
  height: 100% !important;
  border-radius: 20px !important;
}
/* suggestion container */
.suggestion-container .row-suggestion-items img {
  border-radius: 20px !important;
  width: 360px;
  height: 190px;
  object-fit: cover;
  color: var(--primary-text-color, #2e2e2e);
}

.suggestion-container .row-suggestion-items a {
  text-decoration: none !important;
}
/* products */
/* for men section (similare for (women/ kids and baby)*/
.section-for-men {
  color: var(--primary-text-color, #2e2e2e);
}

.section-for-men .for-men-heading img {
  width: 25px !important;
  height: 25px !important;
}

.section-for-men .section-for-men-row img {
  border-radius: 20px !important;
  width: 40%;
  height: 68%;
  color: var(--primary-text-color, #2e2e2e);
}

.section-for-men .section-for-men-row .badge-floating-stock {
  position: absolute;
  top: 1rem;
  left: 2rem;
}

.square-button {
  background-color: #c3defd;
  color: #096dd9;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  transition: box-shadow 0.3s;
}
.square-button:hover {
  box-shadow: 1px 7px 16px 1px rgba(0, 119, 255, 0.22);
}

/* footer section */
footer {
  /* background-color: #e0eefe !important; */
  color: var(--primary-text-color, #2e2e2e) !important;
}

footer a {
  text-decoration: none;
  color: var(--primary-text-color, #2e2e2e) !important;
}

footer a:hover {
  text-decoration: none;
  color: var(--primary-ancor-hover, #2e2e2e) !important;
}

footer hr {
  border-top: 1px solid #525252 !important;
}

/* login page */
.shadowed-card {
  border-radius: 20px;
  /* box-shadow: 2px 7px 18px 17px rgba(220, 220, 220, 0.22); */
  box-shadow: 1px 7px 16px 1px rgba(0, 119, 255, 0.22);
  border: none;
  /* padding: 50px !important; */
  color: var(--primary-text-color, #2e2e2e) !important;
}

.shadowed-card a {
  text-decoration: none !important;
}

.shadowed-card .google-login {
  color: var(--primary-text-color, #2e2e2e) !important;
}

.shadowed-card .google-login:hover {
  color: var(--primary-ancor-hover, #2e2e2e) !important;
}

.shadowed-card .google-icon {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

.shadowed-card .facebook-icon {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

/* User profile */
.user-profile-info {
  color: var(--primary-text-color, #2e2e2e) !important;
}

.user-profile-info .label {
  font-weight: 600;
}
.user-profile-info a:hover {
  color: var(--primary-ancor-hover, #007bff);
}

.user-profile-info .profile-image {
  width: 120px;
  height: 120px;
  border-radius: 100px;
  object-fit: cover;
  box-shadow: 1px 7px 16px 1px rgba(8, 115, 238, 0.22);
}
.user-profile-info input {
  border: none;
}

/* user profiile (user controls section) */

.profile-card {
  margin-bottom: 20px;
  transition: box-shadow 0.3s ease-in-out;
  border: 1px solid var(--primary-button-color, #007bff);
  border-radius: 20px;
  color: var(--primary-text-color, #2e2e2e) !important;
  text-decoration: none;
}
.profile-card:hover {
  box-shadow: 1px 7px 15px 2px rgba(9, 109, 217, 0.33);
  border: none;
}
.profile-img {
  width: 50px;
  height: 50px;
}
.profile-details {
  text-align: center;
  margin-top: 10px;
}
/* profile - add address */

/* product details */
.product-image {
  width: 100% !important;
  height: 800px !important;
  object-fit: cover;
  border-radius: 20px;
}
.image-selector-container {
  overflow-x: auto;
  white-space: nowrap;
  padding-bottom: 10px;
}

.image-selector-container .image-selector {
  border-radius: 20px;
  width: 140px;
  height: 185px;
  cursor: pointer;
  object-fit: cover;
}
.description-container {
  list-style: none !important;
}
.description-container ul {
  margin: 0;
  padding: 0;
}
.description-container li {
  margin-bottom: 5px; /* Added margin-bottom */
  display: flex;
  justify-content: space-between;
}
.description-container li span {
  flex: 1; /* Added flex property */
}

.description-container .color-circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 3px solid #82bcfa;
  display: inline-block;
  margin-right: 10px;
}
.description-container .size-circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  cursor: pointer;
  text-decoration: none;
}

.description-container .button-fav:hover {
  color: #ffd700;
}

.description-container .button-remove-fav {
  display: none;
}

.description-container .button-remove-fav:hover {
  color: #ea3d4b !important;
}

/* popup */
.custom-popover-content {
  display: none;
}
.custom-popover-content a {
  text-decoration: none !important;
}

/* product detail - user review */
.product-review-container .user-image {
  width: 56px;
  height: 55px;
  border-radius: 50%;
  object-fit: cover;
}
.product-review-container .stars {
  color: #ffd700;
}
.product-review-container .reviews-container {
  margin-top: 20px;
}
.product-review-container .review {
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
}

.product-review-container .view-more-reviews a {
  text-decoration: none;
}

.click-and-collect {
  border: 1px solid #c4c4c4 !important;
  border-radius: 10px;
}

.click-and-collect a {
  text-decoration: none;
}

.click-and-collect .clickable-div {
  cursor: pointer;
}

.click-and-collect .clickable-div:hover {
  background-color: #eeeeee;

  border-radius: 10px;
}

/* product page */
.product-filter-container {
  border-radius: 20px;
}

/* wishlist */
.class-table-image {
  height: 60px;
  width: 110px;
  border-radius: 10px;
  object-fit: cover;
}

/* cart */
.cart-item-container a {
  text-decoration: none;
}
.vertical-line {
  padding: 0 10px 0 10px;
}

/* checkout */
.checkout-modal-add-payment a {
  text-decoration: none;
}

.checkout-delivery-radio {
  border: 1px solid #dee2e6;
  border-radius: 10px;
}

.custom-margin {
  margin-right: 10px; /* Adjust margin size as needed */
}

/* about us page  */
.container-about-info .container-contact a {
  text-decoration: none !important;
}

.container-our-team .card-caontainer {
  border-radius: 10px;
}

.container-our-team .card-caontainer img {
  border-radius: 10px;
  width: 100%;
  height: 350px;
  object-fit: cover;
}

.container-ourservice .container-os-card {
  border: none !important;
}

.container-ourservice img {
  width: 100px;
  height: 100px;
}

/* sitemap */

.map-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}
.map-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
